@page
@model LogoutModel
@{
	ViewData["Title"] = "Log out";
}

<header>
	<h1>@ViewData["Title"]</h1>
	<p>You have successfully logged out of the application. You will be redirected to the login page shortly.</p>

</header>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

<script>
	$(document).ready(setTimeout(myFunction, 3000));
	function myFunction() {
		location.replace("/Identity/Account/Login");
	};
</script>