@model FoodTracker.Models.ViewModels.IndexViewModel
@{
	ViewData["Title"] = "Stock";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (User.Identity.IsAuthenticated)
{
	<div class="backgroundWhite container">
		<ul id="menu-filters" class="menu-filter-list list-inline text-center">
			<li class="active btn btn-secondary ml-1 mr-1" data-filter=".food-track">Show All</li>
			@foreach (var item in Model.Category)
			{
				<li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
			}
		</ul>


		@if (Model.FoodItem.Count() == 0)
		{
			<h3 class="text-info text-center p-5">Nothing in stock</h3>
		}

		@foreach (var category in Model.Category)
		{
			<div class="row" id="menu-wrapper">
				<partial name="_FoodListIndexCategory" model="@Model.FoodItem.Where(u=>u.Category.Name.Equals(category.Name))" />
			</div>
		}
	</div>
}
else
{
	<h1 class="text-info text-lg-center">Please log in</h1>
}



@section Scripts{
	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script>

		$(document).ready(function () {
			$("#StockMenuId").addClass("active");
		});

		var posts = $('.post');
		(function ($) {

			$("#menu-filters li").click(function () {
				$("#menu-filters li").removeClass('active btn btn-secondary');
				$(this).addClass('active btn btn-secondary');
				var selectedFilter = $(this).data("filter");
				$(".food-track").fadeOut();
				setTimeout(function () {
					$(selectedFilter).slideDown();
				}, 300);
			});
		})(jQuery);



	</script>
}