@using FoodTracker.Utility
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FoodTracker - @SD.ENVS.UAT</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  crossorigin="anonymous"
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
	</environment>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-xl bg-dark navbar-dark border-bottom box-shadow">
			<div class="container justify-content-start justify-content-xl-center p-0">
				<a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"></a>
				<button class="navbar-toggler float-xl-left" type="button"
						data-toggle="collapse"
						data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse d-xl-inline-flex flex-xl-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						@if (User.Identity.IsAuthenticated)
						{
							<li>
								<a class="nav-link" role="button" aria-expanded="false" id="FoodsMenuId"
								   asp-action="Index" asp-controller="Shopping" asp-area="User">
									<i class="fas fa-list"></i> All
								</a>
							</li>
							<li>
								<a class="nav-link" role="button" aria-expanded="false" id="StockMenuId"
								   asp-action="Index" asp-controller="Home" asp-area="User">
									<i class="fas fa-warehouse"></i> Stock
								</a>
							</li>
							<li>
								<a class="nav-link" role="button" aria-expanded="false" id="CartId"
								   asp-action="Index" asp-controller="Cart" asp-area="User">
									<i class="fas fa-cart-plus"></i> Cart
								</a>
							</li>

							@if (User.IsInRole(SD.OwnerUser) || User.IsInRole(SD.AdminUser))
							{
								<li class="nav-item dropdown text-white-50">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button"
									   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-wrench"></i> Manage
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
										<a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Category</a>
										<a class="dropdown-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">SubCategory</a>
										<a class="dropdown-item" asp-action="Index" asp-controller="Food" asp-area="Admin">Food Types</a>
									@if (User.IsInRole(SD.OwnerUser))
									{ 
										<a class="dropdown-item" id="UsersMenuId"
											asp-action="Index" asp-controller="User" asp-area="Admin">
											<i class="fas fa-users"></i>Users
										</a>
									}
									</div>
								</li>
							}

							@if (User.IsInRole(SD.AdminUser))
							{
								<li class="nav-item dropdown text-white-50">
									<a class="nav-link dropdown-toggle" role="button" aria-expanded="false"
									   href="#" id="navbarDropDownData" data-toggle="dropdown"
									   aria-haspopup="true">
										<i class="fas fa-database"></i>Data
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropDownData">
										<a class="dropdown-item" asp-action="Export" asp-controller="Data" asp-area="Admin">Export</a>
										<a class="dropdown-item" asp-action="Import" asp-controller="Data" asp-area="Admin">Import</a>
									</div>
								</li>
							}
							<li class="nav-item float-right text-white-50">
								<a class="nav-link" role="button" aria-expanded="false" id="HelpMenuId"
								   asp-area="User" asp-controller="Help" asp-action="index">
									<i class="fas fa-life-ring"></i> Help
								</a>
							</li>

						}
					</ul>
				</div>
				@if (User.Identity.IsAuthenticated)
				{
				<div class="float-right" style=" padding-top: 8px; width: 150px; padding-bottom: 0px; padding-right: 10px; line-height: 0.5;">
					<input class="form-control text-center" id="SearchBox" type="text" placeholder="Search..">
					<br>
				</div>
				<partial name="_LoginPartial" />
				}
			</div>

		</nav>
	</header>
	<div class="container">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer pl-3 text-white bg-dark">
		<div class="container">
			2019 - 2020 &nbsp food-tracker.net
		</div>
	</footer>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	</environment>

	<environment exclude="Development">
		@*
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
					asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
					asp-fallback-test="window.jQuery"
					crossorigin="anonymous"
					integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
			</script>
		*@
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
		</script>
	</environment>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)

	<script>
		$(document).ready(function () {
			$("#SearchBox").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$(".foodItem").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		}
		);
	</script>
</body>
</html>
